.navegadorSuperior{
    flex-grow: 1;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo1{
    overflow: hidden;
    text-align: center;}

#boton1{
    background-color: rgb(255,255,255);
    color: rgb(183,28,28);
    box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
}
p{
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px;
}

.h4{
    color: #37474F;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    opacity: .87;}
.boton2{
    background-color: rgb(244,67,54);
    color: rgb(255,255,255);
}